{
  "project_info": {
    "project_number": "DUMMY_PROJECT_NUMBER",
    "project_id": "DUMMY_PROJECT_ID"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "DUMMY_APP_ID",
        "android_client_info": {
          "package_name": "com.example.dummy"
        }
      },
      "api_key": [
        {
          "current_key": "DUMMY_API_KEY"
        }
      ]
    }
  ]
} 